<script src="js/renderWorldAudio.js"></script>

<div id="scrim" class="scrim"></div>

<div id="modalContainer" class="modalContainer">
	<div id='enterButton' class="button enterButton" onclick="enter()">
		<a class="hover-sweep">
			ENTER
		</a>
	</div>
	<div id='enterDetails' class="enterDetails">[this window will play audio]</div>
</div>


<div class="page-canvas-container">
		<canvas id='page-canvas'></canvas>
</div>

<!-- Top right buttons -->
<!-- Pause Mobile -->
<div id="pauseMobile" class="button pauseButton topRightButton">
	<a class="hover-sweep" onclick="pause()">
		PAUSE
	</a>
</div>

<!-- Play Mobile -->
<div id="playMobile" class="button pauseButton topRightButton hidden">
	<a class="hover-sweep" onclick="resume()">
		PLAY
	</a>
</div>

<!-- Center buttons -->
<div class="buttonContainerCenter">

	<!-- Soundcloud mobile -->
	<div id='soundcloudMobile' class="button soundcloudButton centerButton" >
		<a class="hover-sweep" target="_blank" href="https://soundcloud.com/alphynee">
			LISTEN ON SOUNDCLOUD
		</a>
	</div>
</div>

<!-- Canvas -->
<div id="c-container" class="canvas-container">
	<canvas id="c"></canvas>
</div>
<div class="titleContainer" id="title"> 
	<div class="title">
		nurtu<span class="italic">(re:mix)</span> <span id="yourWorld" class="black highlight"> &nbsp;&nbsp;your world</span>
	</div>
	<div class="artist">
		[alphyne]
	</div>
</div>
<div class="coordinates" id="coordinates">
	<div class="coordinate-item">
		{&nbsp;&nbsp;
		<div class="coordinate-value" id="x1">0</div>
		<div class="coordinate-label">&#176; </div>
		<div class="coordinate-value" id="y1">0</div>
		<div class="coordinate-label">' </div>

		<div class="coordinate-value-long" id="z1">0</div>
		<div class="coordinate-label">"&nbsp;N&nbsp;&nbsp;&nbsp;|</div>
	</div>
	<div class="coordinate-item">
	
		<div class="coordinate-value" id="x2">0</div>
		<div class="coordinate-label">&#176; </div>
		<div class="coordinate-value" id="y2">0</div>
		<div class="coordinate-label">' </div>

		<div class="coordinate-value-long" id="z2">0</div>
		<div class="coordinate-label">"&nbsp;E&nbsp;&nbsp;}</div>
		
	</div>
</div>

<div class="mouse" id="mouse">
	<div class="mouse-item">
		<div class="mouse-label">X: </div>
		<div class="mouse-value" id="mouseX">0</div>
	</div>
	<div class="mouse-item">
		<div class="mouse-label">Y: </div>
		<div class="mouse-value" id="mouseY">0</div>
	</div>
</div>

<iframe src="audio/silence.mp3" allow="autoplay" style="display: none"></iframe>
<audio id="audio" onended="replay()">
	<source src="audio/portMash.wav" type="audio/mp3">
</audio>

<script src="js/three.js"></script>
<script src="js/initVariables.js"></script>
<script src="js/scenes/renderWorld.js"></script>
<script src="js/placeholder.js"></script>